<!-- views/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h2>Movie of the Day</h2>
        <img src="/moviePosters/{{ movieImage }}" alt="Movie Poster">
    </div>
    
    <div>
        <h2>TV Show of the Day</h2>
        <img src="/tvShows/{{ tvShowImage }}" alt="TV Show Poster">
    </div>
</body>
</html>